[Desktop Entry]
Encoding=UTF-8
Name=configProfiles
Comment=Configuration profiles
Exec=/bin/bash /opt/configProfiles.sh
Terminal=true
Type=Application
